@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* body {
    margin: 0px;
    padding: 0px;
}

:root {
    --font1: "Cinzel", serif;
    --font2: "Cormorant", serif;
    --font3: "Bebas Neue" sans-serif;
    --font4: "Story Script", sans-serif;

    --cor0: #fff;
    --cor1: #F29BB2;
    --cor2: #D9A79C;
    --cor3: #F2C5BB;
    --cor4: #D9D6A9;
    --cor5: #BD8D5D;
}

header {
   margin: auto;
   background-color: var(--cor0);
   padding-bottom: 15px;
}

header h1 {
    margin: 0px;
    font-family: var(--font1);
    text-align: center;
    color: var(--cor3);
    padding-top: 30px;
    font-size: 4em;
}

header h2 {
    color: var(--cor3);
    text-align: center;
    margin: 0px;
    padding: 5px;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    margin: auto;
    max-width: 1210px;
    min-width: 300px;
}

nav a {
    text-decoration: none;
    margin-left: 5px;
    padding: 8px;
    color: var(--cor0);
}

nav a:hover {
   background-color: var(--cor0);
   border-radius: 5px;
   color: var(--cor3);
   transition: 0.5s;

}

main {
    margin: auto;
}


.a1 {
    background-color: var(--cor3);
    padding: 15px;
    margin: auto;
    max-width: 1200px;
    min-width: 300px;
    position: relative;
}

.a1 h1 {
    margin: 0px;
    font-family: var(--font4);
    text-align: center;
    font-size: 2.6em;
    font-weight: 600;
    color: var(--cor0);
    padding: 20px;
}

ul#menu-fotos {
    max-width: 350px;
    display: block;
    margin: auto;
    columns: 2;
    padding-left: 0px;
    
}

#menu-fotos img {
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.288);
}

#menu-fotos img:hover {
    transition: 0.5s, border 0.5s;
    transform:translate(-3px, -3px);
    box-shadow: 4px 10px 12px rgba(0, 0, 0, 0.363);
}

footer {
    background-color: var(--cor0);
    padding: 10px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

footer img {
    padding-left: 20px;
}

footer img:hover {
    transform: translate(-3px, -3px);
    transition: 0.5s;
}




   